/* cliente.css */
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
}

.container-fluid {
    max-width: 600px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.cadastro-title {
    text-align: center;
    margin-bottom: 2rem;
    color: #333;
}

.form-group {
    margin-bottom: 1.5rem;
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: #555;
}

.form-control {
    width: 100%;
    padding: 0.75rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-control:focus {
    border-color: #b0b4b0;
    box-shadow: 0 0 5px rgba(192, 197, 193, 0.5);
    outline: none;
}

textarea.form-control {
    height: 100px;
    resize: vertical;
}

.btn-primary {
    background-color: #000000;
    border: none;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #7d8f80;
}

@media (max-width: 600px) {
    .container-fluid {
        padding: 1rem;
        margin: 1rem;
    }

    .form-group {
        margin-bottom: 1rem;
    }

    .btn-primary {
        width: 100%;
        padding: 0.75rem;
    }
}

.seletor-secao {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.seletor-secao div {
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
    background-color: black;
    color: #ffffff; /* Cor do texto */
}

.seletor-secao div:hover {
    background-color: #726d6d; /* Cor de fundo quando passar o mouse */
}



/* Styles for the edit icon in "edit client" */
.editar-cliente .edit {
    color: red; /* Change the color to red */
}

/* Styles for input fields in "edit client" */
.editar-cliente input[type="text"],
.editar-cliente input[type="email"],
.editar-cliente textarea {
    border-color: green; /* Change the border color to green */
}

/* Styles for the edit button in "edit client" */
.editar-cliente .btn-primary {
    background-color: yellow; /* Change the background color to yellow */
    border-color: yellow; /* Change the border color to yellow */
}

.editar-cliente .btn-primary:hover {
    background-color: orange; /* Change the hover background color to orange */
    border-color: orange; /* Change the hover border color to orange */
}

/* Styles for the admin container */
.adminContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 8px;
}

/* Styles for the technician container */
.containerTecnico {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 8px;
}

/* Styles for the technician information */
.informacaoTecnico {
    display: flex;
    flex-direction: column;
}

/* Styles for technician data */
.tecnicoDados {
    margin-bottom: 5px;
}

/* Add specific styles for each theme */
.adminContainer.tema1 {
    background-color: #fff;
    border-color: #007bff;
}

.adminContainer.tema2 {
    background-color: #f8d7da;
    border-color: #dc3545;
}

.adminContainer.tema3 {
    background-color: #d4edda;
    border-color: #28a745;
}

.adminContainer.tema4 {
    background-color: #f8f9fa;
    border-color: #ffc107;
}

/* Styles for the client details */
.cliente-details {
    text-align: center;
}

.detalhes {
    align-items: center;
}

/* Styles for the modal */
.modal {
    overflow: auto !important;
    overflow-x: auto !important;
    overflow-y: auto !important;
    display: none;
    position: relative;
    left: 0;
    right: 0;
    background-color: #fafafa;
    padding: 0;
    max-height: 70%;
    width: 55%;
    margin: auto;
    border-radius: 2px;
    will-change: top, opacity;
    z-index: 1 !important;
    margin-top: 10px !important;
}

body {
    overflow: auto !important;
    padding-bottom: 20px;
}

.modal button {
    background-color: #000000;
    border: none;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
    margin-inline-start: 10px;
}

.modal button:hover {
    background-color: #7d8f80;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Styles for the table */

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background-color: #f2f2f2;
    color: #000;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #f5f5f5;
}

/* Styles for the search bar */

.search-bar {
    margin-bottom: 20px;
}

.search-bar input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.search-bar button {
    width: 100%;
    padding: 10px;
    background-color: #000000;
    border: none;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.search-bar button:hover {
    background-color: #7d8f80;
}

/* Styles for the pagination */

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.page-link {
    color: #000000;
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    text-decoration: none;
}

.page-link:hover {
    background-color: #7d8f80;
    color: white;
}

.page-item.active .page-link {
    background-color: #000000;
    color: white;
}

/* Styles for the header */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #000000;
    color: white;
}

.header h1 {
    margin: 0;
}

.header button {
    background-color: #7d8f80;
    border: none;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.header button:hover {
    background-color: #000000;
}

/* Styles for the footer */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #000000;
    color: white;
}

/* Styles for the button in the footer */

.footer button {
    background-color: #7d8f80;
    border: none;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

