/* home.css */
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1c1e1c;
    padding: 1rem 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Ensure it stays on top of other elements */
    font-size: 15px;
    box-sizing: border-box; /* Ensure padding and border are included in element's total width and height */
}

.navbar .logo {
    font-size: 1.8rem;
    font-weight: bold;
    color: white;
    flex-shrink: 0; /* Prevent the logo from shrinking */
}

.navbar .nav-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1; /* Allow the links container to grow and fill available space */
    overflow: hidden; /* Hide overflowing links */
}

.navbar .nav-links a {
    color: white;
    text-decoration: none;
    padding: 0.75rem 1rem;
    margin: 0 0.5rem;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 5px;
    white-space: nowrap; /* Prevent text from wrapping */
}

.navbar .nav-links a:hover {
    background-color: #333;
}

.home {
    padding: 5rem 2rem 2rem; /* Adding top padding to avoid content overlap with navbar */
    text-align: center;
}

.home h1 {
    color: #333;
    margin-bottom: 1rem;
}

.home p {
    color: #666;
    font-size: 1.2rem;
}

/* Styles for the edit icon in "edit client" */
.editar-cliente .edit {
    color: red; /* Change the color to red */
}

/* Styles for input fields in "edit client" */
.editar-cliente input[type="text"],
.editar-cliente input[type="email"],
.editar-cliente textarea {
    border-color: green; /* Change the border color to green */
}

/* Styles for the edit button in "edit client" */
.editar-cliente .btn-primary {
    background-color: yellow; /* Change the background color to yellow */
    border-color: yellow; /* Change the border color to yellow */
}

.editar-cliente .btn-primary:hover {
    background-color: orange; /* Change the hover background color to orange */
    border-color: orange; /* Change the hover border color to orange */
}

/* Styles for the admin container */
.adminContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 8px;
}

/* Styles for the technician container */
.containerTecnico {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 8px;
}

/* Styles for the technician information */
.informacaoTecnico {
    display: flex;
    flex-direction: column;
}

/* Styles for technician data */
.tecnicoDados {
    margin-bottom: 5px;
}

/* Add specific styles for each theme */
.adminContainer.tema1 {
    background-color: #fff;
    border-color: #007bff;
}

.adminContainer.tema2 {
    background-color: #f8d7da;
    border-color: #dc3545;
}

.adminContainer.tema3 {
    background-color: #d4edda;
    border-color: #28a745;
}

.adminContainer.tema4 {
    background-color: #f8f9fa;
    border-color: #ffc107;
}

/* Styles for the client details */
.cliente-details {
    text-align: center;
}

.detalhes {
    align-items: center;
}

/* Styles for the modal */
.modal {
    overflow: auto !important;
    overflow-x: auto !important;
    overflow-y: auto !important;
    display: none;
    position: relative;
    left: 0;
    right: 0;
    background-color: #fafafa;
    padding: 0;
    max-height: 70%;
    width: 55%;
    margin: auto;
    border-radius: 2px;
    will-change: top, opacity;
    z-index: 1 !important;
    margin-top: 10px !important;
}

body {
    overflow: auto !important;
    padding-bottom: 20px;
}